.filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.filters label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
.filters div {
  display: flex;
}

.filters input[type="text"] {
  flex-grow: 1;
  padding: 15px 20px;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
}


.filters div button {
  transition: all .5s ease;
  width: 10rem;
  border: none;
  color: white;
  
  text-align: center;
 
  font-size: 17px;
  background-color:#66BA4F; 

  padding: 10px;
  outline: none;

  cursor: pointer;
}

.filters div button:hover {
  color: #001F3F;
  background-color: #fff;
}