.grid-characters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.reset-favs {
  color: white;
  transition: all .5s ease;
  width: 10rem;
  border: 3px solid white;
  
  text-align: center;
 
  font-size: 17px;
  background-color:#66BA4F; 

  padding: 10px;
  outline: none;
  border-radius: 4px;
}

.reset-favs:hover {
  background-color: rgb(223, 39, 39);
  transform: scale(1.1);
  transition: 0.5s;
}

.reset-favs:active {
  background-color: rgb(165, 31, 31);
  transform: scale(0.95);
  transition: 0.2s;
}
